<div class='call'>
   <div class='name'><a href='' onclick='showLookup("{{ callerid }}")'> {{ callerid }}</a></div>
   <div class='timestamp'>{{ date }} {{ time }}</div>
   <div class='number'>{{ callernum }} </div>
</div>
