%% Erlang compiler options
{erl_opts, [{i, "deps/eastrisk/include"}, 
            {i, "/usr/local/lib/yaws/include"}]}.

{deps_dir, ["deps"]}.

{deps, [{eastrisk, ".*", {git, "http://github.com/schemeway/eastrisk.git", "master"}},
        {couchbeam, ".*", {git, "http://github.com/benoitc/couchbeam.git", "master"}},
        {mochiweb, ".*", {git, "http://github.com/mochi/mochiweb.git", {tag, "1.5.2"}}}]}.

{sub_dirs, ["rel"]}.
