[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

 {ast_console, 
  [
   {http_listen,     {"0.0.0.0", 8088}},
   {ami_host,        {"127.0.0.1", 5038}},
   {ami_credentials, {"username", "password"}},
   {couchdb_host,    {"127.0.0.1", 5984}},
   {ignore_list,     [<<"spa3102">>]}
  ]}
].

